

.header{
    padding: 1.25rem;
}

button{
    font-size: 1.3125rem;
    font-weight: 400;
    color: white;
    background-color: #5bacc3;
    border: none;
    padding: 1.25rem;
    margin:1.5em 0;
    width: 180px;
}

button a{
    text-decoration: none;
    color: white;
}

.nitro-coffee{
    background-color: #fff0ed;
    padding: 1.25rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nitro-coffee__img{
    max-width: 100%;
    height: auto;
}

.nitro-coffee__desc{
    text-align: left;
    padding: 0 5rem 0 0;

}

.nitro-coffee__block{
    width: 50%;
    margin: 1.2rem;
}

.products{
    text-align: center;
    padding:1rem;
}

.products__detail{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center  ;
    background-color: white;
    gap: 1.25rem;
    /*padding: 1.25rem;
    margin: 1.25rem;*/
    text-align: center;
    box-shadow: 0px 5px 9px -1px rgba(0,0,0,0.25);
    border-radius: 10px;
    width:330px;
    height: 440px;
    box-sizing: border-box;
    vertical-align:middle;  
}

/*.card__img{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding-top: 1.25rem;
    position: absolute;
}*/

.card__description{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color:#fff0ed;
    width: 100% ;
    height: 150px;
    margin: 0;
    padding: 0;
}


.card__title{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 0;
    padding: 0;

}

.card__detail{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: #909090;
    margin: 0;
    padding: 0;
}

.card__price{
    color: #5bacc3;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.discount{
    background-color: white; 
    padding: 3.2rem 1.5rem; 
    margin: 0;
}

.card__price{
    color: #5bacc3;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.discount{
    background-color: white; 
    padding: 3.2rem 1.5rem; 
    margin: 0;
}

.discount__p{
    font-size: 2.8125rem;
    font-weight: 400;
    color: white;
    background-color: #393939 ;
    text-align: center;
    padding: 1.25rem;
    margin: 4rem;
    box-sizing: border-box;
}

.footer{
    background-color:#fff0ed ;
}

.footer__heading{
    font-size: 2.0625rem;
}

.footer__card{
    display: inline-block;
    position: relative;
    background-color: none;
    padding: 2.5rem;
    margin: 1.25rem;
    width:30%;
    height: auto;
    box-sizing: border-box;
    vertical-align:middle;
}

.social image{
    display: inline-block;
    width: 30%; 
}

